[viewBag]

[staticMenu]
code = "footer-menu"
==
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9 col-lg-9">
        <p>Copyright <i class="fa fa-copyright"></i> 2017 - Patrick Jamal, Elliot Schep</p>
      </div>
    </div>
  </div>
</footer>

<!-- /.Footer -->

<!-- Bootstrap core JavaScript
*********************** -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ 'assets/event/js/bootstrap.min.js'|theme }}"></script>
<!-- <script src="{{ 'assets/event/js/event-main.js'|theme }}"></script> -->

<!-- Plugins
*********************** -->
<!-- Owl Carousel JS -->
<script src="{{ 'assets/event/plugins/owl-carousel/js/owl.carousel.js'|theme }}"></script>
<script src="{{ 'assets/event/js/jquery.easing.min.js'|theme }}"></script>
<!-- Isotope JS -->
<script src="{{ 'assets/event/plugins/isotope/isotope.pkgd.min.js'|theme }}"></script>
<!-- Owl Carousel JS -->
<script src="{{ 'assets/event/plugins/owl-carousel/js/owl.carousel.js'|theme }}"></script>
<!-- Background Video -->
{% scripts %}
