[viewBag]

[staticMenu]
code = "main-menu"

[extendedLocalePicker]
==
<!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                Diversity Hub Menu
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            {% component 'staticMenu' %}
            <div class="navbar-form navbar-right">
{% for code, name in locales %}
    <a href="{{''|app}}{{ '/' ~ code ~ localeLinks[code] }}">{{ name }}</a>
{% endfor %}
            </div>
            </div><!-- /navbar-collapse -->
        </div>
    </div>
    <!-- End Navbar -->