description = "For the specific events page."
==
{% partial 'event-theme/header' %}
<body>
{% partial 'event-theme/navbar' %}

<!-- Header -->
<header id="fullwidth" class="homepage">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<!-- Heading Title Area -->
		<div class="header-text white text-center text-uppercase">
			<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
				<h1 class="titlebg pddn-20-top pddn-20-btm">{{ record.event_title }}</h1>
			</div>
			</div>
			<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2 class="white">{{ record.event_subtitle }}</h2>
				<h3 class="mrgn-50-top white sm-title"><span class="date">{{ record.event_date }}</span></h3>
			</div>
			</div>
		</div>
		<!-- /.Heading Title Area -->

		<!-- Animated Arrow -->
		<div class="arrow text-center"> <i class="fa fa-angle-down fa-4x"></i> </div>
		<!-- /.Animated Arrow -->

		</div>
	</div>
	</div>
	<!-- /.container -->
</header>
<!-- /.Header -->

<!-- Event Features -->
<section id="event-features">
	<div class="container">
	<div class="row">
		{% if record.event_idea %}
		<!-- Feature 01 -->
		<div class="col-md-3 col-sm-6  col-xs-6"> <img src="{{ 'assets/event/media/icons/svgs/ideas.svg'|theme }}" width="49" height="80" class="img-responsive" alt="Ideas" />
		<h2 class="accent">Ideas</h2>
		<p> {{ record.event_idea }} </p>
		</div>
		<!-- /.Feature 01 -->
		{% endif %}
		{% if record.event_discussion %}
		<!-- Feature 02 -->
		<div class="col-md-3 col-sm-6  col-xs-6"> <img src="{{ 'assets/event/media/icons/svgs/discussions.svg'|theme }}" width="76" height="80" class="img-responsive" alt="Discussions" />
		<h2 class="accent">Discussions</h2>
		<p> {{ record.event_discussion }} </p>
		</div>
		<!-- /.Feature 02 -->
		{% endif %}
		{% if record.event_exhibition %}
		<!-- Feature 03 -->
		<div class="col-md-3 col-sm-6  col-xs-6"> <img src="{{ 'assets/event/media/icons/svgs/exhibitions.svg'|theme }}" width="76" height="80" class="img-responsive" alt="Exhibitions" />
		<h2 class="accent">Exhibitions</h2>
		<p> {{ record.event_exhibition }} </p>
		</div>
		<!-- /.Feature 03 -->
		{% endif %}
		{% if record.event_workshop %}
		<!-- Feature 04 -->
		<div class="col-md-3 col-sm-6  col-xs-6"> <img src="{{ 'assets/event/media/icons/svgs/workshops.svg'|theme }}" width="70" height="70" class="img-responsive" alt="Workshops" />
			<h2 class="accent">Workshops</h2>
			<p> {{ record.event_workshop }} </p>
		</div>
		<!-- /.Feature 04 -->
		{% endif %}
	</div>
	</div>
	<!-- /.container -->
</section>
<!-- /.Event Features -->

<section id="speakers">
	<div class="container">
		<!-- Title & Subtitle -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="text-center"><span>Speakers</span></h2>
					<p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
				</div>
			</div>
		</div>
		<!-- /.Title & Subtitle -->

		<!-- Speakers List -->
		<div class="row">
			{% set array = [] %}
			{% for record_speaker in speakers_record %}
				{% for record_schedule in schedules_record %}
					{% for elm in record_schedule.select_speaker %}
						{% if elm not in array %}
							{% if elm == record_speaker.id %}
			<div class="col-md-3 col-sm-6 text-center">
				<div class="speaker-item"> <a href="/events/speakers#{{ record_speaker.id }}">
					<figure class="speaker accent-bg">
						<div style="padding-bottom:100%; overflow:hidden; position:relative">
						<img style="position: absolute; max-width: 100%; /*max-height: 100%;*/ top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);" src={{ '/storage/app/media' ~ record_speaker.speaker_photo }} alt="Speaker" class="img img-responsive full-width">
						</div>
						<figcaption>
							<p class="text-uppercase accent">{{ record_speaker.speaker_bio_title }}</p>
							<p>{{ str_limit(record_speaker.speaker_bio, 30) }}</p>
						</figcaption>
					</figure>
					</a>
					<p><span class="speaker-accent">{{ record_speaker.first_name }} {{ record_speaker.last_name }}</span><br>
					{{ record_speaker.speaker_motto }}</p>
				</div>
			</div>
								{% set array = array|merge([elm]) %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</div>
		<!-- /.Speakers List -->
</section>

<!-- Full Schedule -->
<section id="full-schedule">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 class="text-center"><span>Full Schedule</span></h2>
          <p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    <!-- Schedule Content -->
    <div class="row">
      <div class="col-lg-12">

        <!-- Days Schedule  -->
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist" id="toolkit">
              <li class="active"> <a href="#day1" role="tab" data-toggle="tab"><span class="text-bold text-big ">Day 01</span></a></li>
            </ul>
            <!-- /.Nav tabs -->

            <!-- Tabs Panes Days -->
            <div class="tab-content">

              <!-- Tab - Day 01 -->
              <div class="tab-pane fade active in" id="day1">
                <!-- Talk 01 -->

                {% for record_select_schedule_events in record.select_schedule_events %}
					{% for record_schedule in schedules_record %}
						{% if record_schedule.id == record_select_schedule_events %}
							{% for record_schedule_select_speaker in record_schedule.select_speaker %}
								{% for record_speaker in speakers_record %}
									{% if record_schedule_select_speaker == record_speaker.id %}

                <div class="row">
                  <div class="col-xs-4 col-sm-2 text-center">
                    <p class="text-big text-bold">{{ record_schedule.talk_time }}</p>
                    <p><img src="{{ '/storage/app/media' ~ record_speaker.speaker_photo }}" alt="Speaker" class="img-responsive center-block img-circle img-speaker" /></p>
                  </div>
                  <div class="col-xs-8 col-sm-10">
                    <p class="text-big text-bold text-uppercase">{{ record_schedule.talk_title }}</p>
                    <p>{{ record_schedule.talk_summary }}</p>
                    <span class="label label-main">{{ record_schedule.talk_location|raw }} - (~{{ record_schedule.talk_duration|raw }})</span></div>
                </div>
                 <hr class="border-light"/>

									{% endif %}
								{% endfor %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}

                <!-- /.Talk 01 -->

              </div>
              <!-- /.Tab - Day 01 -->

            </div>
            <!-- /.Tabs Panes Days -->
          </div>
        </div>
        <!-- /.Days Schedule  -->
      </div>
    </div>
    <!-- /.Schedule Content -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Full Schedule -->

<section id="sponsors">
	<div class="container">
		<!-- Title & Subtitle -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="text-center"><span>Sponsors</span></h2>
					<p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
				</div>
			</div>
		</div>
		<!-- /.Title & Subtitle -->

		<!-- Sponsors List -->
		<div class="row">
			{% for record_select_sponsors in record.select_sponsors %}
			{% for record_partner in partners_record %}
				{% if record_partner.id == record_select_sponsors %}
			<div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm">
				<div style="padding-bottom:100%; overflow:hidden; position:relative"><img style="position: absolute; max-width: 100%; /*max-height: 100%;*/ top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);"  class="img img-responsive full-width" src="{{ '/storage/app/media' ~ record_partner.logo }}" width="230" height="150" alt=""></div>
			</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</div>
		<!-- /.Sponsors List -->
	</div>
	<!-- /.container -->
</section>

<section id="sponsors" style="background: #E7E7E7">
	<div class="container">
		<!-- Title & Subtitle -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="text-center"><span>Media Partners</span></h2>
					<p class="subtitle text-center"><i class="fa fa-angle-down fa-lg"></i></p>
				</div>
			</div>
		</div>
		<!-- /.Title & Subtitle -->

		<!-- Sponsors List -->
		<div class="row">
			{% for record_select_media_partners in record.select_media_partners %}
				{% for record_partner in partners_record %}
					{% if record_partner.id == record_select_media_partners %}
			<div class="col-md-2 col-sm-4 col-xs-6 mrgn-20-top-btm">
				<div style="padding-bottom:100%; overflow:hidden; position:relative"><img style="position: absolute; max-width: 100%; /*max-height: 100%;*/ top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);"  class="img img-responsive full-width" src="{{ '/storage/app/media' ~ record_partner.logo }}" width="230" height="150" alt=""></div>
			</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		<!-- /.Sponsors List -->

	</div>
	<!-- /.container -->
</section>

{% partial 'event-theme/footer' %}
</body>
</html>